.slider-company {
	background: transparent;
	padding-top: rem(72);
	overflow: hidden;

	.container {
		position: relative;
		&:first-child {
			margin-bottom: rem(72);

			@include responsive(md) {
				margin-bottom: rem(40);
			}
		}

		&::before {
			content: '';
			position: absolute;
			top: -3px;
			left: 0;
			width: 54px;
			height: 100%;
			background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
			z-index: 2;
		}
		&::after {
			content: '';
			position: absolute;
			top: -3px;
			right: 0;
			width: 54px;
			height: 140%;
			background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
			z-index: 2;
		}
	}
}
