#header {
	padding: rem(12) rem(10);
	background: var(--white);

	&.fixed-header {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 999;
		width: 100%;
	}
	.header-wrap {
		display: flex;
		justify-content: space-between;
		align-items: center;

		// logo
		.logo {
			img {
				width: 165px;
			}
		}

		// menu
		.menu {
			@include responsive(lg) {
				display: none;
			}
			ul {
				display: flex;
				align-items: center;
				gap: rem(45);

				li {
					// menu item
					a {
						color: #000;
						font-size: rem(16);
						font-weight: 400;
						transition: 0.3s ease;
						&.active {
							font-weight: 700;
							text-decoration-line: underline;
							color: var(--primary);
						}
						&:hover {
							font-weight: 700;
							color: var(--primary);
						}
					}
				}
			}
		}

		// action
		.action {
			display: flex;
			gap: rem(10);
			position: relative;
			z-index: 1;

			.btn--primary {
				padding: rem(13) rem(26);
				@include responsive(sm) {
					display: none;
				}
			}
		}
		.mobile-menu {
			height: rem(47);
			width: rem(47);
			padding: 0;
			display: none;
			justify-content: center;
			align-items: center;
			background: #fff;
			color: #000;
			font-size: rem(20);
			cursor: pointer;
			@include responsive(lg) {
				display: inline-flex;
			}
		}
	}
}

#mobile-canvas {
	max-width: 250px;
}
.mobile-menu-list {
	display: flex;
	flex-direction: column;
	gap: rem(16);
	a {
		color: #000;
		font-size: rem(14);
		font-weight: 400;
		transition: 0.3s ease;
		&.active {
			font-weight: 700;
			text-decoration-line: underline;
			color: var(--primary);
		}
		&:hover {
			font-weight: 700;
			color: var(--primary);
		}
	}
}
